.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 30px;
  background-color: #fff;
  overflow: hidden;
}
.rectangle38 {
  position: absolute;
  left: 0;
  top: 0;
  width: 360px;
  height: 28px;
  background-color: #e2eaffa8;
}
._164 {
  color: #000;
  font-size: 13px;
  font-weight: 500;
  font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 27px;
  top: 9px;
  width: 30px;
  height: 14px;
  justify-content: center;
  flex-direction: column;
}
.vector {
  position: absolute;
  left: 273px;
  top: 9px;
  width: 13px;
  height: 11px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.vector2 {
  position: absolute;
  left: 291px;
  top: 11px;
  width: 15px;
  height: 8px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.group12 {
  position: absolute;
  left: 312px;
  top: 11px;
  width: 17px;
  height: 9px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.vector3 {
  position: absolute;
  left: 30px;
  top: 63px;
  width: 8px;
  height: 14px;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.setPassword {
  color: #2260ff;
  font-size: 24px;
  font-weight: 600;
  font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 63px;
  top: 63px;
  width: 233px;
  height: 14px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loremIpsumDolorSitAmetConsecte {
  color: #070707;
  font-size: 12px;
  font-weight: 300;
  font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 30px;
  top: 105px;
  width: 299px;
  height: 24px;
  flex-direction: column;
}
.password {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 30px;
  top: 164px;
  width: 214px;
  height: 14px;
  justify-content: center;
  flex-direction: column;
}
.confirmPassword {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 30px;
  top: 266px;
  width: 214px;
  height: 14px;
  justify-content: center;
  flex-direction: column;
}
.rectangle37 {
  position: absolute;
  left: 30px;
  top: 190px;
  width: 299px;
  height: 45px;
  border-radius: 13px;
  background-color: #ecf1ff;
}
.rectangle372 {
  position: absolute;
  left: 30px;
  top: 292px;
  width: 299px;
  height: 45px;
  border-radius: 13px;
  background-color: #ecf1ff;
}
.vector4 {
  position: absolute;
  left: 296px;
  top: 204px;
  width: 20px;
  height: 16px;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.vector5 {
  position: absolute;
  left: 296px;
  top: 306px;
  width: 20px;
  height: 16px;
  overflow: visible;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.unnamed {
  color: #809cff;
  font-size: 20px;
  font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 42px;
  top: 209px;
  width: 133px;
  height: 14px;
  flex-direction: column;
}
.unnamed2 {
  color: #809cff;
  font-size: 20px;
  font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 42px;
  top: 311px;
  width: 133px;
  height: 14px;
  flex-direction: column;
}
.rectangle373 {
  position: absolute;
  left: 43px;
  top: 381px;
  width: 273px;
  height: 45px;
  border-radius: 30px;
  background-color: #2260ff;
}
.createNewPassword {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 51px;
  top: 397px;
  width: 258px;
  height: 14px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
