.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 30px;
  background-color: #fff;
  overflow: hidden;
}
.rectangle38 {
  position: absolute;
  left: 0;
  top: 0;
  width: 360px;
  height: 28px;
  background-color: #ecf1ff;
}
._164 {
  color: #000;
  font-size: 13px;
  font-weight: 500;
  font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 27px;
  top: 9px;
  width: 30px;
  height: 14px;
  justify-content: center;
  flex-direction: column;
}
.vector {
  position: absolute;
  left: 273px;
  top: 9px;
  width: 13px;
  height: 11px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.vector2 {
  position: absolute;
  left: 291px;
  top: 11px;
  width: 15px;
  height: 8px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.group12 {
  position: absolute;
  left: 312px;
  top: 11px;
  width: 17px;
  height: 9px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.settings {
  color: #2260ff;
  font-size: 24px;
  font-weight: 600;
  font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 119px;
  top: 63px;
  width: 121px;
  height: 14px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.vector3 {
  position: absolute;
  left: 30px;
  top: 63px;
  width: 8px;
  height: 14px;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.vector4 {
  position: absolute;
  left: 321px;
  top: 143px;
  width: 8px;
  height: 14px;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.vector5 {
  position: absolute;
  left: 322px;
  top: 206px;
  width: 8px;
  height: 14px;
  overflow: visible;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.vector6 {
  position: absolute;
  left: 321px;
  top: 263px;
  width: 8px;
  height: 14px;
  overflow: visible;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.frame4 {
  position: absolute;
  left: 78px;
  top: 141px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 37px;
}
.notificationSetting {
  width: 195px;
  height: 23px;
  flex-direction: column;
}
.textBlock {
  color: #000;
  font-size: 20px;
  font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
}
.textBlock2 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
}
.passwordManager {
  width: 195px;
  height: 23px;
  flex-direction: column;
}
.textBlock3 {
  color: #000;
  font-size: 20px;
  font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
}
.textBlock4 {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
}
.deleteAccount {
  color: #000;
  font-size: 20px;
  font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  width: 195px;
  height: 23px;
  justify-content: center;
  flex-direction: column;
}
.vector7 {
  position: absolute;
  left: 31px;
  top: 197px;
  width: 19px;
  height: 24px;
  overflow: visible;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.vector8 {
  position: absolute;
  left: 31px;
  top: 261px;
  width: 19px;
  height: 21px;
  overflow: visible;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.vector9 {
  position: absolute;
  left: 31px;
  top: 135px;
  width: 17px;
  height: 26px;
  overflow: visible;
}
.icon10 {
  width: 100%;
  height: 100%;
}
