.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 30px;
  background-color: #fff;
  overflow: hidden;
}
.rectangle38 {
  position: absolute;
  left: 0;
  top: 0;
  width: 360px;
  height: 28px;
  background-color: #e2eaffa8;
}
._164 {
  color: #000;
  font-size: 13px;
  font-weight: 500;
  font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 27px;
  top: 9px;
  width: 30px;
  height: 14px;
  justify-content: center;
  flex-direction: column;
}
.vector {
  position: absolute;
  left: 273px;
  top: 9px;
  width: 13px;
  height: 11px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.vector2 {
  position: absolute;
  left: 291px;
  top: 11px;
  width: 15px;
  height: 8px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.group12 {
  position: absolute;
  left: 312px;
  top: 11px;
  width: 17px;
  height: 9px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.johnDoe {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 120px;
  top: 213px;
  width: 118px;
  height: 14px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.profile {
  color: #000;
  font-size: 20px;
  font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 91px;
  top: 281px;
  width: 88px;
  height: 14px;
  justify-content: center;
  flex-direction: column;
}
.favorite {
  color: #000;
  font-size: 20px;
  font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 91px;
  top: 337px;
  width: 88px;
  height: 14px;
  justify-content: center;
  flex-direction: column;
}
.paymentMethod {
  color: #000;
  font-size: 20px;
  font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 91px;
  top: 393px;
  width: 152px;
  height: 14px;
  justify-content: center;
  flex-direction: column;
}
.privacyPolicy {
  color: #000;
  font-size: 20px;
  font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 91px;
  top: 449px;
  width: 130px;
  height: 14px;
  justify-content: center;
  flex-direction: column;
}
.settings {
  color: #000;
  font-size: 20px;
  font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 91px;
  top: 505px;
  width: 84px;
  height: 14px;
  justify-content: center;
  flex-direction: column;
}
.help {
  color: #000;
  font-size: 20px;
  font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 91px;
  top: 561px;
  width: 51px;
  height: 14px;
  justify-content: center;
  flex-direction: column;
}
.logout {
  color: #000;
  font-size: 20px;
  font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 91px;
  top: 617px;
  width: 69px;
  height: 14px;
  justify-content: center;
  flex-direction: column;
}
.rectangle33 {
  position: absolute;
  left: 31px;
  top: 733px;
  width: 298px;
  height: 48px;
  border-radius: 24px;
  background-color: #2260ff;
}
.myProfile {
  color: #2260ff;
  font-size: 24px;
  font-weight: 600;
  font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 122px;
  top: 63px;
  width: 121px;
  height: 14px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.vector3 {
  position: absolute;
  left: 30px;
  top: 63px;
  width: 8px;
  height: 14px;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.vector4 {
  position: absolute;
  left: 321px;
  top: 283px;
  width: 8px;
  height: 12px;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.vector5 {
  position: absolute;
  left: 321px;
  top: 338px;
  width: 8px;
  height: 12px;
  overflow: visible;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.vector6 {
  position: absolute;
  left: 321px;
  top: 393px;
  width: 8px;
  height: 11px;
  overflow: visible;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.vector7 {
  position: absolute;
  left: 321px;
  top: 447px;
  width: 8px;
  height: 11px;
  overflow: visible;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.vector8 {
  position: absolute;
  left: 321px;
  top: 501px;
  width: 8px;
  height: 12px;
  overflow: visible;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.vector9 {
  position: absolute;
  left: 321px;
  top: 556px;
  width: 8px;
  height: 12px;
  overflow: visible;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.frame2 {
  position: absolute;
  left: 30px;
  top: 267px;
  width: 40px;
  height: 376px;
  overflow: visible;
}
.icon11 {
  width: 100%;
  height: 100%;
}
.group49 {
  position: absolute;
  left: 58px;
  top: 746px;
  width: 243px;
  height: 23px;
  overflow: visible;
}
.icon12 {
  width: 100%;
  height: 100%;
}
.djvstock_Create_a_photo_of_a_y {
  position: absolute;
  left: 86.9838px;
  top: 52.8244px;
  width: 187.278px;
  height: 187.278px;
  border-radius: 30px;
  background-image:/* webpackIgnore: true */ url('/assets/djvstock_Create_a_photo_of_a_y.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-mask-image:/* webpackIgnore: true */ url('/assets/maskGroup.svg');
  mask-image:/* webpackIgnore: true */ url('/assets/maskGroup.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 39.0162353515625px 37.17559814453125px;
  mask-position: 39.0162353515625px 37.17559814453125px;
  -webkit-mask-size: 106px 106.57317352294922px;
  mask-size: 106px 106.57317352294922px;
}
.group13 {
  position: absolute;
  left: 203px;
  top: 164px;
  width: 28px;
  height: 28px;
  overflow: visible;
}
.icon13 {
  width: 100%;
  height: 100%;
}
