.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 30px;
  background-color: #fff;
  overflow: hidden;
}
.rectangle37 {
  position: absolute;
  left: 82px;
  top: 636px;
  width: 207px;
  height: 45px;
  border-radius: 30px;
  background-color: #2260ff;
}
.rectangle372 {
  position: absolute;
  left: 82px;
  top: 688px;
  width: 207px;
  height: 45px;
  border-radius: 30px;
  background-color: #cad6ff;
}
.signUp {
  color: #2260ff;
  font-size: 24px;
  font-weight: 500;
  font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 104px;
  top: 703px;
  width: 162px;
  height: 14px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.logIn {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 104px;
  top: 654px;
  width: 162px;
  height: 14px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loremIpsumDolorSitAmetConsecte {
  color: #070707;
  font-size: 12px;
  font-weight: 300;
  font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 52px;
  top: 570px;
  width: 267px;
  height: 50px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.group93 {
  position: absolute;
  left: 112px;
  top: 235px;
  width: 138px;
  height: 138px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.dermatologyCenter {
  color: #2260ff;
  font-size: 12px;
  font-weight: 600;
  font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 116px;
  top: 478px;
  width: 142px;
  height: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.skin {
  color: #2260ff;
  font-size: 48px;
  font-weight: 100;
  font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 115px;
  top: 387px;
  width: 142px;
  height: 36px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.firts {
  color: #2260ff;
  font-size: 48px;
  font-weight: 100;
  font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 115px;
  top: 425px;
  width: 142px;
  height: 36px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
